//mobile WRAP
.select-country-panel.sm {
  @include flexy($dir: column);
  padding: 32px 16px;
  background-color: $white;
}
//區域選取框
.country-selectbar-block {
  @include flexy($dir: column);
  margin-bottom: 24px;
  &:last-child {margin-bottom: 0;}
}
//修改select style
.select-country-style {
  @include styleSelect($w: 100%,$h: 40px);
  border: 1px solid $border;
  background-color: $white;
  &:after {
    border-top: 2px solid $trans;
    border-right: 2px solid $trans;
  }
}
// label title
.country-selectbar-title {
  margin-bottom: 8px;
  letter-spacing: 1px;
  color: $trans;
  &.lang-0 { font-size: 14px; }
  &.lang-1 { font-size: 13px; }
}

.select-country-origin {
  @include noneSlelect;
  @include size($w: 100%,$h: 40px);
  letter-spacing: 1px;
  padding-left: 8px;
  color: $side-text;
  &.lang-0 { font-size: 15px; }
  &.lang-1 { font-size: 14px; }
}

.country-selectbar-add-btn {
  padding: 14px;
  text-align: center;
  cursor: pointer;
  color: $white;
  background-color: $trans;
  &.lang-0 { font-size: 15px; }
  &.lang-1 { font-size: 14px; }
}

@media screen and(max-width: 575px) {
  .country-selectbar-block {
    margin-bottom: 16px;
  }
}
