//面板整體
.select-country-panel.lg {
  box-shadow: 0 15px 15px rgba(0,0,0,0.1);
}

// 上方bar
.select-region-title {
  @include flexy($ais: center);
  text-align: center;
  background-image: $basic-gradient;
  color: $white;
  font-weight: 300;
  .region-title {
    padding: 12px;
    &.state {
      flex-shrink: 0;
      width: 130px;
      border-right: 1px solid $lightgroup1first;
    }
    &.area {
      flex-shrink: 0;
      width: 190px;
      border-right: 1px solid $lightgroup1first;
    }
    &.country {
      flex: 1;
    }
  }
}

// 選擇國家主面板
.select-region-panel {
  @include flexy;
  @include size(100%,280px);
  font-family: 'Roboto', sans-serif;
  background-color: $white;
  color: $main;
}
//洲 區共用
.state-wrap,.area-wrap {
  @include flexy($dir: column);
  flex-shrink: 0;
  border-right: 1px solid $border;
  padding: 8px 16px;
}
//洲
.state-wrap {
  width: 130px;
}
//區
.area-wrap {
  width: 190px;
}
//國家
.country-wrap {
  flex: 1;
  @include flexy($ais: center,$just: flex-start); 
  padding: 8px 16px;
}
//國家內層
.country-wrap-inner {
  @include flexy($dir: column);
  flex-wrap: wrap;
  height: 100%; 
}
//洲 區項目文字共用
.country-state,.country-area {
  @include flexy($ais: center);
  height: 20%;
  position: relative;
  cursor: pointer;
  &.select {
    font-weight: 500;
    color: $pink1;
    @include after {
      background-image: url('../images/essential/triangle-01.svg');
      @include size(8px,12px);
      @include absolute($t: 50%,$r: 0);
      transform: translateY(-50%);
    }
  }
}

//國家文字項目
.region-country {
  @include flexy($ais: center);
  width: 140px;
  height: calc(263px / 7);
  line-height: 1.1;
  cursor: pointer;
  &:hover {
    font-weight: 500;
    color: $pink1;
  }
}
//國家小旗子
.sm-flag {
  @include size(24px,16px);
  margin-right: 8px;
  border: 1px solid $border;
  .sm-flag-icon {
    @include size(100%,100%);
    background-size: cover;
    background-position: center center;
  }
}
.country-state,
.country-area,
.region-country,
.select-region-title {
  &.lang-0 { font-size: 15px; }
  &.lang-1 { font-size: 14px; letter-spacing: 3px; }
}
.country-state,.country-area {
  &.select {
    &.lang-0 { font-size: 16px; }
    &.lang-1 { font-size: 15px; }
  }
}

.region-country {
  &:hover {
    &.lang-0 { font-size: 16px; }
    &.lang-1 { font-size: 15px; }
  }
}