//國家表單wrap
.select-country-confirom-block {
  @include flexy($ais: center);
  padding: 16px;
  border-top: 1px solid $border;
  background-color: $background;

}

.country-confirm-block {&.submit {margin-left: auto;}}
//下一步按鈕
.country-confirm-button {
  letter-spacing: 2px;
  background-image: linear-gradient(120deg,$group1first,$group1second);
  color: $white;
  text-align: center;
  cursor: pointer;
  transition: $ease;
  &:hover {
    transform: translate(1px,1px);
  }
}
//list標題
.country-confirm-label {
  font-weight: 500;
  color: $side-text;
  padding-bottom: 0.75rem;
}
.country-confirm-item {
  @include flexy($ais: center);
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 6px;
  position: relative;
  @include before {
    @include size(4px,4px);
    @include absolute($l: 0,$t: 50%);
    transform: translateY(calc(-50% - 3px ));
    border-radius: 50%;
    background-color: $main;
  }
  .country-confirm-text {
    margin-right: 12px;
    color: $main;
  }
  .country-confirm-icon {
    background-image: url('../images/essential/remove_circle_pink_icon.svg');
    cursor: pointer;
    transition: $ease;
    &:hover { 
      background-image: url('../images/essential/remove_circle_pink_fill_icon.svg');
      transform: translateY(1px);
    }
  }
}


@media screen and (min-width: 767px) {
  .country-confirm-item,
  .country-confirm-label,
  .country-confirm-button {
    &.lang-0 { font-size: 16px;}
    &.lang-1 { font-size: 15px;}
  }
  .country-confirm-button {padding: 16px 48px;}
  .country-confirm-icon {@include size(18px,18px);}
}
// SM變成直
@media screen and(max-width: 768px) {
  .country-confirm-block {
    width: 100%;
    &.list {margin-bottom: 12px;}
  }
  .select-country-confirom-block {flex-direction: column;}
  .country-confirm-item,
  .country-confirm-label,
  .country-confirm-button {
    &.lang-0 { font-size: 14px;}
    &.lang-1 { font-size: 13px;}
  }
  .country-confirm-icon { @include size(16px,16px);}
  .country-confirm-button {padding: 12px 0;}
}
