// 選擇編輯
.edit-list-select-bar {
  @include absolute($t: 64px,$r: 0,$z: 10);
  @include flexy($dir: column);
  height: 0;
  transition: 0.1s ease-in;
  &.show {
    height: 100px;
  }
}



.list-select-edit-btn {
  @include size(50px,50px);
  background-color: $spot;
  @include flexy($ais: center,$just: center);
  &:first-child {
    border-bottom: 1px solid $white;
  }
}
.list-select-edit-btn-icon {
  @include size(30%,30%);
  &.edit {
    background-image: url('../images/essential/edit_white_icon.svg');
  }
  &.remove {
    background-image: url('../images/essential/remove_white_icon.svg');
  }
}


//編輯
.edit-list-top {
  width: 100%;
  @include flexy($ais: center,$just: center,);
  @include absolute($t: 64px,$l: 0,$z: 1000);
  background-image: linear-gradient(120deg,$pink1,$pink3);
  height: 0;
  overflow: hidden;
  transition: 0.2s;
  &.show {
    height: 240px;
  }
}
@media screen and(min-width: 768px) {
  .edit-list-top {
    top: 64px;
  }
}
@media screen and(max-width: 767px) {
  .edit-list-top {
    top: 48px;
  }
}
.edit-top-inner {
  width: 100%;
  padding: 0 16px;
  max-width: 400px;
  @include flexy($dir: column,$ais: center,$just: center);
}

.edit-top-block {
  width: 100%;
  @include flexy($dir: column);
  margin-bottom: 20px;
}
.edit-top-title {
  flex-shrink: 0;
  color: $white;
  margin-bottom: 8px;
  &.budget-title {
    width: 80px;
  }
}
.edit-top-input {
  background-color: $white;
  width: 100%;
  padding: 12px 8px;
  color: $side-text;
  letter-spacing: 1px;
}
.edit-top-date-input {
  background-color: $white;
  width: 100%;
  padding: 12px 8px;
  color: $side-text;
  letter-spacing: 1px;
}

.step1-btn {
  font-weight: 300;
  width: 200px;
  padding: 20px 0;
  border: 1px solid $white;
  color: $white;
  cursor: pointer;
  position: relative;
  text-align: center;
  @include after {
    transition: 0.2s ease-in;
    @include size(0,100%);
    @include absolute($t: 0,$l: 0,$z: -1);
    background-color: $white;
  }
}
@media screen and (min-width: 768px) {
  .edit-top-step1 { 
    @include flexy($ais: center);
  }
  .step1-btn {
    font-size: 18px;
    margin: 0 8px;
    &:hover { 
      font-weight: 400;
      color: $pink1;
      &:after { width: 100%;}
    }
  }
  .edit-top-title {
    font-size: 14px;
  }
  .edit-top-input  {
    font-size: 15px;
  }
}
@media screen and (max-width: 767px) {
  .edit-top-step1 { 
    @include flexy($dir: column,$ais: center);
  }
  .step1-btn {
    font-size: 16px;
    &:first-child { margin-bottom: 18px;}
  }
  .edit-top-title {
    font-size: 13px;
  }
  .edit-top-input  {
    font-size: 14px;
  }
}
.edit-top-block-edit-buttom {
  padding-top: 40px;
  background-color: $trans;
  color: $white;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  padding: 12px;
  width: 100%;
  transition: 0.2s ease-in;
  cursor: pointer;
  &:hover {
    transform: translateY(2px);
  }
}
.edit-top-block-remove-bitton {
  @include absolute($b: 0,$r: 0);
  @include size(40px,40px);
  @include flexy($ais: center,$just: center);
  cursor: pointer;
  .remove-btn {
    transition: 0.2s ease-out;
  }
  &:hover {
    .remove-btn {
      color: yellow;
      transform: translateY(2px);

    }
  }
}










.exchange-submit-btn {
  width: 100%;
  font-size: 0.9rem;
  font-weight: 400;
  padding: 0.7rem;
  color: #ef2f65;
  border: 1px solid #ef2f65;
  background-color: $white;
  cursor: pointer;
  text-align: center;
}

//匯率大面板
.exchange-wrap {
  width: 100%;
  @include size(100%,300px);
  @include flexy($ais: center,$just: center,);
  @include absolute($l: 0,$z: 1000);
  background-image: linear-gradient(120deg,$pink1,$pink3);
  opacity: 0;
  transition: $ease;
  &.show {opacity: 1;}
}
@media screen and(min-width: 768px) {
  .exchange-wrap {top: 64px;}
}
@media screen and(max-width: 767px) {
  .exchange-wrap {top: 48px;}
}
//匯率大面板內部
.exchange-inner {
  width: 100%;
  max-width: 400px;
  @include flexy($dir: column,$ais: center,$just: center);
  padding: 0 16px;
} 
//選單與提交WRAP
.exchange-input-wrap {
  width: 100%;
  @include flexy($dir: column,$just: center);
  &:first-child {margin-bottom: 24px;}
}
//單個選單WRAP
.exchange-input-block {
  @include flexy($ais: center,$just: center);
  margin-bottom: 12px;
  &:last-child {margin-bottom: 0;}
  border: 1px solid #ef2f65;
    background-color: $white;
    border-radius: 5px;
  &.result {
    margin-bottom: 0;
  }
}
//選單LABEL
.exchange-input-text {
  font-size: 0.9rem;
  font-weight: 300;
  width: 80px;
  flex-shrink: 0;
  color: $white;
  padding: 0.8rem;
    background-color: #ef2f65;
    text-align: center;
    line-height: 1;
  &.result {
    width: 135px;
  }
}
.exchange-equal-wrap {
  width: 100%;
  @include flexy($ais: center,$just: center);
}
.exchange-equal {
  display: inline-block;
  text-align: center;
  color: $white;
  font-size: 0.9rem;
  transform: rotate(90deg);
  padding: 8px 0;
}

//選單INPUT
.exchange-input-value,.exchange-select-tag {
  width: 100%;
  font-size: 0.9rem;
  padding: 0.6rem;
  background-color: $white;
  color: $side-text;  
  line-height: 1;
  &.result {
    width: 90%;
  }
}
//選單顯示標籤
.exchange-select-tag {cursor: pointer;}
//選單 WRAP
.exchange-select-wrap {
  position: relative;
  width: 100%;
}
//選單LIST
.exchange-list {
  width: calc(100% + 2px);
  @include absolute($t: calc(2.1rem + 0.23rem ),$l: -1px,$z: 10);
  border-right: 1px solid $pink1;
  border-left: 1px solid $pink1;
  background-color: $white;
  height: 0;
  overflow-y: scroll;
  &.show {
    height: 21rem;
    border-bottom: 1px solid $pink1;
  }
}
.exchange-list-item {
  font-size: 0.9rem;
  padding: 0.6rem;
  color: $side-text;
  border-bottom: 1px solid $pink1;
  cursor: pointer;
  transition: $ease;
  &:last-child {border-bottom: none;}
  &:hover {
    background-color: #f4f4f4;
  }
}
