//上方Panel WRAP
.board-top {
  width: 100%;
  @include flexy($ais: center);
  font-weight: 400;
  color: $white;
}
//下方Panel WRAP
.board-bottom {
  @include flexy($dir: column);
  position: relative;
  background-color: $white;
  &.analysis { padding: 32px;}
}
//上方Panel Inner
.board-top-inner {
  width: 100%;
  @include flexy($ais: center);
}

//sm-上方條WRAP
@media screen and(max-width: 767px) {
  .board-top {
    height: 48px;
    padding: 0 12px;
  }
}
//lg-上方條WRAP
@media screen and(min-width: 768px) {
  .board-top {
    height: 56px;
    padding: 0 16px;
    letter-spacing: 2px;
  }
}








///budget
.top-local-info.budget {
  width: 100%;
}
.top-local-info-block.budget {
  width: 100%;
  margin: 0;
  margin-right: auto;
}