.board {
  position: relative;
  width: 100%;
}
@media screen and (max-width: 767px ){
  .board {
    margin-bottom: 120px;
  }
}
@media screen and (min-width: 768px) and (max-width: 959px){
  .board {
    margin-bottom: 160px;
  }
}
@media screen and(min-width: 960px) {
  .board {
    max-width: 900px;
    margin: 8vh 3vw;
  }
}
