//基本色
$white: #ffffff;
$border: #ddd;
$whiteBorder: rgba(255,255,255,0.4);
$text: #5f6368;
$primary-text: #202124;
//#777c83
$side-text: lighten($text,10);
$background: #E6E6E6;
$shadow: rgba(0,0,0,0.08);
$placeholder: #d8d8d8;
$main: #308CFE;
$l-main: lighten(#308CFE,15);
$d_dark_main: darken($main,15);
$c_dark_main: darken($main,10);

$pink1: #ff5e8b;
$pink2: #F98D9D;
$pink3: #ffa5c3;
$pink4: #F790A1;
//cata color
$trans: #ff2d70;
$spot: #00c4e8;
$food: #ffc300;
$stay: #6073ff;
$light-trans: lighten($trans,5);
$light-spot: lighten($spot,5);
$light-food: lighten($food,5);
$light-stay: lighten($stay,5);

//trans
$trans-flight: #ff2d99;
$trans-train: #ff2d76;
$trans-cruise: #ff2d2d;
$trans-bus: #ff532d;
$trans-taxi: #ff6c2d;
$trans-car: #ff7d2d;
//light
$light-trans-flight: lighten($trans-flight,8);
$light-trans-train: lighten($trans-train,8);
$light-trans-cruise: lighten($trans-cruise,8);
$light-trans-bus: lighten($trans-bus,8);
$light-trans-taxi: lighten($trans-taxi,8);
$light-trans-car: lighten($trans-car,8);
//activity
$act-attraction: #00d4f9;
$act-shopping: #00d4f9;
$act-events: #00b6f9;
$act-others: #0099f9;
//light
$light-act-attraction: lighten($act-attraction,8);
$light-act-shopping: lighten($act-shopping,8);
$light-act-events: lighten($act-events,8);
$light-act-others: lighten($act-others,8);
//food
$food-restaurant: #ffa100;
$food-cafe: #ffa500;
$food-bar: #ffbf00;
$food-others: #ffd800;
//light
$light-food-restaurant: lighten($food-restaurant,8);
$light-food-cafe: lighten($food-cafe,8);
$light-food-bar: lighten($food-bar,8);
$light-food-others: lighten($food-others,8);
 
// 主色漸層01
$group1first: #308CFE;
$group1second: #A059FF;
$darkgroup1first: darken(#308CFE,5);
$darkgroup1second: darken(#A059FF,5);
$lightgroup1first: lighten(#308CFE,10);
$lightgroup1second: lighten(#A059FF,10);

//直接漸層
$warm: linear-gradient(120deg,#ff3aa3,#ff8b59);
$cold: linear-gradient(120deg,#26deff,#26abff);
$basic-gradient: linear-gradient(120deg,#308CFE,#A059FF);
//漸層a
$main-a: #147dff;
$main-a-d: darken(#147dff,10);
$bg-a: linear-gradient(120deg,#147dff,#8a32ff);
$bd-a-d: linear-gradient(120deg,darken(#147dff,5),darken(#8a32ff,5));
//漸層b
$main-b: #a3b5ff;
$main-b-d: darken(#a3b5ff,10);
$bg-b: linear-gradient(120deg,#A059FF,#a3b5ff);
$bd-b-d: linear-gradient(120deg,darken(#A059FF,1),darken(#a3b5ff,5));
//漸層c
$main-c: #42a1ff;
$main-c-d: darken(#42a1ff,10);
$bg-c: linear-gradient(120deg,#125dff,#42a1ff);
$bd-c-d: linear-gradient(120deg,darken(#125dff,5),darekn(#42a1ff,5));

$ease: 0.1s ease-out;
$ease2: 0.2s ease-out;

//字體小
$f-small-sm: 12px;
$f-small-lg: 13px;
//字體基本
$f-basic-sm: 14px;
$f-basic-lg: 15px;
//字體中
$f-middle-sm: 16px;
$f-middle-lg: 18px;
//框線
$bd: 1px solid $border;
$focus-bd: 1px solid $main;


body {
  background-color: $background;
  &.white {
    background-color: white;
  }
}
@media screen and(max-width: 767px) {
  body {
    background-color: $white;
    &.gray {
      background-color: $background;
    }
  }
}
@media screen and(min-width: 768px) {
  body {
    background-color: $background;
    &.white {
      background-color: $white;
    }
  }
}

.en-text {
  font-family: 'Open Sans', sans-serif;
}


