.page-container.gradient-background {
  @include size(100%,100vh);
  @include flexy($dir: column,$ais: center);
  background-image: $background-gradient;
  background-size: 300% 300%;
  position: relative;
  overflow: hidden;
  animation: gradient-move 15s ease infinite;
  padding: 0 4vw;
}

.home-content-wrap {
  width: 100%;
  max-width: 1600px;
  position: relative;
}

.head-visual {
  border-radius: 50%;
  .head-visual-line {
    @include absolute($t: 50%,$l: 50%);
    transform: translate(-50%,-50%) rotate(100deg);
    border-radius: 50%;
    border: 1px solid white;
    &.outer-line {
      @include size(100%,100%);
      animation: rotate2 15s infinite linear;
    }
    &.inner-line {
      @include size(90%,90%);
        animation: rotate2 8s infinite linear;
    }
  }
  .head-visual-line-circle {
    background-color: white;
    border-radius: 50%;
    position: absolute;
    &.outer-circle {
      @include absolute($t: -2%,$l: 50%);
      @include size(4%,4%);
      transform: translateX(-50%);
    }
    &.inner-circle {
      @include absolute($t: 50%,$l: -1.5%);
      @include size(3%,3%);
      transform: translateY(-50%);
    }
  }
  .head-visual-big-circle {
    @include absolute($t: 50%,$l: 50%);
    transform: translate(-50%,-50%) ;
    @include size(80%, 80%);
    border-radius: 100%;
    // background-image: radial-gradient(rgba(255,255,255,0) 30%,rgba(255,255,255,0.6),white 95%);
    transition: 0.3s;
  }
  .circle-mask {
    @include absolute($t: 50%,$l: 50%);
    transform: translate(-50%,-50%) ;
    @include size(80%, 80%);
    border-radius: 100%;
    background-image: $background-gradient;
    background-size: 300% 300%;
    animation: gradient-move 5s ease infinite;
    z-index: -1;
  }
}

@keyframes gradient-move {
  0% { background-position: 0% 0%;}
  50% {background-position: 100% 100%;}
  100% {background-position: 0% 0%;}
}

@keyframes move {
  0% {width: 0;}
  100% {width: 100%;}
}

@keyframes rotate2 {
  0% {transform: translate(-50%,-50%) rotate(0) }
  100% {transform: translate(-50%,-50%) rotate(360deg)}
}
@keyframes skew-lg {
  0% {transform: translateY(-45%) scale(0.9);}
  100% {transform: translateY(-45%) scale(1);}
}
@keyframes skew-sm {
  0% {transform: scale(0.9);}
  100% {transform: scale(1);}
}
@keyframes updown {
  0% {transform: translateY(0) };
  100% {transform: translateY(15px) }
}



@media screen and (min-width: 961px) {
  .head-visual {
    @include absolute($r: 5%,$t: 50%);
    width: 40%;
    padding-bottom: 40%;
    transform: translateY(-45%) scale(1);
    animation: skew-lg 5s infinite linear alternate;
  }
}
@media screen and (max-width: 960px) {
  .head-visual {
    @include absolute($r: -20vw, $b: -40vw);
    width: 80%;
    padding-bottom: 80%;
    transform: scale(1);
    animation: skew-sm 5s infinite linear alternate;
  }
}

@media screen and (max-width: 576px) {
  .head-visual {
    @include absolute($r: -20vw, $b: -50vw);
    width: 100%;
    padding-bottom: 100%;
    transform: scale(1);
    animation: skew-sm 5s infinite linear alternate;
  }
}
@import './header',
        './heading',
        './mouse'