.main-wrap {
  position: absolute;
  @include flexy($just: center);
}
@media screen and(max-width: 959px) {
  .main-wrap {
    width: 100%;
    @include absolute($t: 0,$l: 0);
  }
}
// lg-右側背景
@media screen and(min-width: 960px) {
  .main-wrap {
    width: calc(100% - 180px); 
    @include absolute($t: 0,$l: 180px);
    &.form {
      height: 100vh;
    }
  }
}


#root {
  display: flex;
  justify-content: center;
}



@import './01_list/style',
        './02_main_cata/style',
        './03_sub_cata/style',
        './04_info/style',
        './05_map/style',
        './cata_share/style'