.i-item-wrap {
  overflow: hidden;
  border-bottom: 1px solid $border;
  &.budget {
    border-bottom: none;
  }
} 
//li 外層
.b-item {
  color: $side-text;
  transition: 0.2s ease-out;
  
  &.right {
    transform: translateX(-60px);
  }
}
//list一般項目 / 總金額項目
//list一般項目
.budget-show-list-item {
  overflow: hidden;
  @include flexy($ais: center);
  position: relative;
  border-bottom: 1px solid #e0f3ff;
  transition: 0.2s ease-out;
  &.right {
    transform: translateX(-60px);
  }
}
.budget-item-wrap {
  @include flexy($ais: center);
  padding: 18px 16px;
}

@media screen and (min-width: 768px) {
  .budget-show-list-item { width: calc(100% + 60px);}
  .budget-show-list-item.right { transform: translateX(-60px); }
  .budget-item-wrap { width: calc(100% - 60px);}
}
@media screen and (max-width: 767px) {
  .budget-show-list-item { width: calc(100% + 48px);}
  .budget-show-list-item.right { transform: translateX(-48px); }
  .budget-item-wrap { width: calc(100% - 48px);}
}
//list總金額項目
.budget-list-total {
  @include flexy($ais: center,$just: flex-end);
  padding: 24px 20px;
  padding-right: 42px;
  background-color: #eff9ff;
  border-top: 1px solid #eff9ff;
}
.budget-show-item-edit-icon {
  @include size(6px,20px);
  background-image: url('../images/essential/edit_dot_gray.svg');
}
.budget-show-item-block {
  @include flexy;
  &.type {
    flex-shrink: 0;
  }
  &.title {
    width: 100%;
  }
  &.price {
    // width: 40%;
    flex-shrink: 0;
    justify-content: flex-end;
    @include flexy($dir: column,$ais: flex-end);
  }
  &.edit {
    width: 10px;
    flex-shrink: 0;
    margin-left: 16px;
    justify-content: flex-end;
    cursor: pointer;
  }
}

@import './budget_list/add',
        './budget_list/type',
        './budget_list/list_item',
        './budget_list/edit_step1',
        './budget_list/edit_step2',
        './overview/style',
        './analysis'