//>1200 16px
//>768 15px
//<768 14px 


@media screen and(max-width: 767px) {
  html {
    font-size: 14px;
  }
}
@media screen and(min-width: 768px) and(max-width: 1199px) {
  html {
    font-size: 15px;
  }
}
@media screen and(min-width: 1200px) {
  html {
    font-size: 16px;
  }
}

