//中層外層(次要與地圖)
.i-item-bottom {
  display: none;
  background-color: #f7fcfc;
  border-top: 1px solid $border;
  box-sizing: content;
  &.show {display: block;}}
//次項目外層
.i-item-bottom-info {
  @include flexy($ais: center);
}



.i-middle-block {
  &.list {
    width: 100%;
    @include flexy($ais: center);
    flex-wrap: wrap;
    padding-right: 16px;
  }
  &.drop {
    flex-shrink: 0;
    @include flexy($just: center);
  }
}

//item
.i-middle-list-item {
  // flex: 1;
  flex-shrink: 0;
  width: calc(100% / 3);
  @include flexy($dir: column);
  font-weight: 400;
}

.i-middle-list-title {
  color: $main;
  position: relative;
  padding-left: 12px;
  flex-shrink: 0;
  
  @include before{
    @include size(5px,5px);
    background-color: $main;
    @include absolute($t: 50%,$l: 0);
    transform: translateY(-50%);
  }
}
.i-middle-list-content {
  padding-left: 12px;
  color: $side-text;
}


@media screen and (max-width: 767px) {
  .i-item-bottom-info {
    padding: 16px;
  }
  .i-middle-list-item {
    font-size: 13px;
    margin-bottom: 8px;
    align-items: flex-start;
    &:last-child { margin-bottom: 0;}
  }
  .i-middle-list-title {
    margin-bottom: 0;
    line-height: 1.2;
  }
  .i-item-map-drop {
    @include size(20px,16px);
  }
  .i-middle-list-content {
    line-height: 1.2;
  }
  .i-item-bottom-map {
    @include size(100%,200px);
  }
}
@media screen and (min-width: 768px) {
  .i-middle-block.drop {
    width: 32px;
  }
  .i-item-bottom-info {
    padding: 12px 16px;
  }
  .i-middle-list-item {
    font-size: 15px;
    padding: 6px 0;
    
  }
  .i-middle-list-title {
    margin-bottom: 4px;
  }
  .i-item-map-drop {
    @include size(22px,18px);
  }
  .i-item-bottom-map {
    @include size(100%,300px);
  }
}

@media screen and(max-width: 767px) {
  .i-middle-block.list  {
  @include flexy($dir: column);
  padding-right: 0;
  }
  .i-middle-list-item {
    width: 100%;
    @include flexy($dir: row);
  }
}

//地圖實體
.map-tag-wrap {
  width: 100%;
  min-height: 200px;
  height: auto;
  height: 36vh;
}
.map-tag-inner {
  @include size(100%,100%)
}

// @media screen and(min-width: 768px) {
//   .map-tag-wrap {
//     height: 600px;
//   }
// }



