
.lg-profile-btn-frame {
  @include fixed($t: -180px,$r: -180px,$z: 100);
  @include size(360px,360px);
  cursor: pointer;
  display: none;
  &.show {
    display: block;
  }
}
@media screen and(max-width: 959px){
  .lg-profile-btn-frame,.lg-profile-main-btn-wrap {
    display: none;
  }
}
.lg-profile-main-btn-wrap {
  @include fixed($t: -60px,$r: -60px,$z: 100);
  border-radius: 50%;
  @include size(120px,120px);
  background-color: $white;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
  cursor: pointer;
}

.lg-profile-main-btn-icon {
  @include size(32px,8px);
  @include absolute($l: 20px,$b: 30px);
  background-image: url('../images/essential/lg_nav_btn.svg');
}



.lg-profile-show-btn-wrap {
  @include absolute($t: 50%,$l: 50%);
  transform: translate(-50%,-50%) rotate(-90deg);
  border-radius: 50%;
  @include size(85%,85%);
  transition: 0.3s;
  &.rotate {
    transform: translate(-50%,-50%);
  }

}
.lg-profile-show-btn {
  border-radius: 50%;
  @include size(72px,72px);
  background-image: $cold;
  @include flexy($ais: center,$just: center);
  transition: $ease;
  border: 2px solid $white;
  &:hover {
    background-image: $cold;
  }
  &.profile {
    @include absolute($t: 83%,$l: 18%,$z: 100);
  }
  &.log-out {
    @include absolute($t: 58%,$l: -8%,$z: 100);
  }
}

.lg-circle-nav {
  font-size: 14px;
  font-weight: 300;
  color: $white;
}
