.add-act-icon.sub {
  //restaurant
  &.restaurant {
    background-color: $food-restaurant;
    &:after {
      background-image: url('../images/sub_cata/food/cata_food_restaurant.svg');
    }
    &:hover {
      background-color: $light-food-restaurant
    }    
  }
  //購物
  &.cafe {
    background-color: $food-cafe;
    &:after {
      background-image: url('../images/sub_cata/food/cata_food_cafe.svg');
    }
    &:hover {
      background-color: $light-food-cafe;
    }    
  }
  //活動
  &.bar {
    background-color: $food-bar;
    &:after {
      background-image: url('../images/sub_cata/food/cata_food_bar.svg');
    }
    &:hover {
      background-color: $light-food-bar;
    }    
  }
  //其他
  &.food_others {
    background-color: $food-others;
    &:after {
      background-image: url('../images/sub_cata/food/cata_food_others.svg');
    }
    &:hover {
      background-color: $light-food-others;
    }    
  }
}

@media screen and(min-width: 768px) {
  .add-act-icon.sub {
    &.restaurant {
      &:hover {
        background-color: $light-food-restaurant
      }    
    }
    //購物
    &.cafe {
      &:hover {
        background-color: $light-food-cafe;
      }    
    }
    //活動
    &.bar {
      &:hover {
        background-color: $light-food-bar;
      }    
    }
    //其他
    &.food_ohters {
      &:hover {
        background-color: $light-food-others;
      }    
    }
  }
}

