@media screen and (min-width: 576px) {
  .bg-circle-wrap {
    @include size(20vh,20vh);
    &.left {
      @include size(15vh,15vh);
      @include fixed($t: -15vh,$l: -15vh);
    }
  
  }
  
}

@media screen and (max-width: 575px) {
  .bg-circle-wrap {
    display: none;
    @include size(15vh,15vh);
  }
  &.left {
    @include size(10vh,10vh);
    @include fixed($t: -10vh,$l: -10vh);
  }
}

.bg-circle-wrap {
  &.right {
    @include fixed($r: 0,$b: 0);
  }
  .bg-circle {
    border-radius: 50%;
    border: 1px solid white;
    &.outer {
      @include size(200%,200%);
      @include absolute($t: 0,$l: 0);
      animation: rotate_c 4s infinite linear;
    }
    &.inner {
      @include size(120%,120%);
      @include absolute($t: 40%,$l:40%);
      animation: rotate_c 3.5s  infinite linear;
    }
  }
  .bg-circle-ball {
    background-color: white;
    border-radius: 50%;
    &.r1 {
      @include size(8%,8%);
      @include absolute($t: 28%,$l:-1%);
    }
    &.r2 {
      @include size(6%,6%);
      @include absolute($t: 4%,$l:20%);
    }
    &.r3 {
      @include size(4%,4%);
      @include absolute($t: 48%,$l:-2%);
    }
    


  }
}

@keyframes rotate_c {
  0% {
    transform: rotate(0) 
  }
  100% {
    transform: rotate(360deg)
  }
}