.all-select-counrey-wrap,.all-select-info-wrap {
  width: 100%;
  @include flexy($dir: column);
}
//選擇國家面板
.all-select-counrey-wrap {
  @include absolute($t:20vh,$l:50%,$z: 1);
  transform: translateX(-50%);
  margin-bottom: 20vh;
}
.select-counrey-wrap-inner {
  width: 100%;
  @include flexy($dir: column);
}
@media screen and (min-width: 800px) {
  .select-country-panel {
    &.lg {display: block;}
    &.sm {display: none;}
  }
  .all-select-counrey-wrap {width: 780px;}
}

@media screen and (max-width: 800px) {
  .select-country-panel {
    &.lg {display: none;}
    &.sm {display: flex;}
  }
  .all-select-counrey-wrap {
    max-width: 500px;
    padding: 0 8px;
    top: 42px;
  }
}

//基本資訊面板
.all-select-info-wrap {
  width: 100%;
  @include flexy($dir: column);
  @include fixed($t:50%,$l:50%,$z: 1);
  transform: translate(-50%,-50%);
}
@media screen and (max-width: 767px) {
  .all-select-info-wrap {
    max-width: 500px;
    padding: 0 16px;
  }
}

@media screen and (min-width: 768px) {
  .all-select-info-wrap {max-width: 600px;}
}

//修改國家區域
.edit-country_board {
  height: 100vh;
  .edit-country_layout {
    @include absolute($t: 0,$l: 0);
    @include size(100%,100%);
    background-color: black;
    opacity: 0.5;
  }
  .all-select-counrey-wrap {
    @include absolute($t:50%,$l:50%);
    transform: translate(-50%,-50%);
    margin-bottom: 0;
  }
}
@media screen and (max-width: 959px) {
  .edit-country_board {
    width: calc(100%);
    @include fixed($t: -28px,$l: 0);
  }
}

@media screen and (min-width: 960px) {
  .edit-country_board {
    width: calc(100% - 200px);
    @include fixed($t: 0,$l: 200px);
  }
}