// 右側背景
.edit-page-container {
  position: absolute;
  // height: 100%;
  background-color: $background;
  @include flexy($just: center);
}
// sm-右側背景
@media screen and(max-width: 959px) {
  .edit-page-container {
    width: 100%;
    @include absolute($t: 0,$l: 0);
  }
}
// lg-右側背景
@media screen and(min-width: 960px) {
  .edit-page-container {
    width: calc(100% - 200px); 
    @include absolute($t: 0,$l: 200px);
  }
}