
.sign-box {
  width: 100%;
  max-width: 400px;
  background-color: $white;
  box-shadow: 0 10px 10px rgba(0,0,0,0.2);
}

@media screen and(min-width: 400px) {
  .all-container.sign {
    @include flexy($just: center);
  }
}
@media screen and(max-width: 399px) {
  .sign-box  {
    height: 100vh;
    @include flexy($just: center,$ais: center);
  }
}


.sign-box-inner {
  padding: 48px 20px;
  width: 100%;
  @include flexy($dir: column);
}
.sign-group {
  // margin-bottom: 16px;
  &:last-child {
    margin-bottom: 0;
  }
}
.sign-title {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: $text;
  margin-bottom: 24px;
}
.sign-input {
  padding: 12px 8px;
  font-size: 15px;
  color: $text;
  letter-spacing: 1px;
  width: 100%;
  border: 1px solid $border;
  margin-bottom: 12px;
  transition: $ease;
  &:focus {
    border: 1px solid $main;
  }
}

.sign-btn {
  padding: 12px 8px;
  font-size: 15px;
  color: $white;
  text-align: center;
  cursor: pointer;
  transition: $ease;
  &.google {
    background-color: rgb(219,68,55);
  }
  &.native {
    background-color: $main;
  }
  &:hover {
    transform: translate(2px,2px);
  }
}
.sign-side-text {
  cursor: pointer;
  font-size: 13px;
  color: $side-text;
  text-align: right;
  padding-right: 4px;
  padding-top: 10px;
}
.or-text {
  font-size: 13px;
  color: $side-text;
  text-align: center;
  padding: 20px 0;
}