//登入框
.sign-box {
  width: calc(100% - 32px);
  max-width: calc(400px + 32px);
  @include fixed($t: 50%,$l: 50%);
  transform: translate(-50%,-50%);
  background-color: $white;
  box-shadow: 0 10px 10px $shadow;
}

.sign-box-inner {
  width: 100%;
  @include flexy($dir: column);
  padding: 48px 20px;
}
.sign-group {
  &:last-child {
    margin-bottom: 0;
  }
}
//大標
.sign-title {
  text-align: center;
  font-weight: 400;
  margin-bottom: 24px;
  color: $text; 
}
//輸入INPUT
.sign-input {
  width: 100%;
  padding: 12px 8px;
  margin-bottom: 12px;
  color: $side-text;
  border: $bd;
  border-radius: 3px;
  &:focus {border: $focus-bd;}
}
//登入註冊按鈕
.sign-btn {
  padding: 14px 8px;
  border-radius: 3px;
  color: $white;
  text-align: center;
  cursor: pointer;
  transition: $ease;
  &.google {background-color: rgb(219,68,55);}
  &.native {background-color: $main;}
  &:hover {transform: translate(2px,2px);}
}
.sign-side-text {
  cursor: pointer;
  font-size: 13px;
  color: $side-text;
  text-align: right;
  padding-right: 4px;
  padding-top: 10px;
}
.or-text {
  font-size: 12px;
  color: $side-text;
  text-align: center;
  padding: 16px 0;
}
.test-text {
  font-size: 12px;
  color: $side-text;
  text-align: center;
  margin-bottom: 16px;
  transform: translateY(-3px);
}

@media screen and(max-width: 767px) {
  .sign-btn {
    font-size: $f-basic-sm;
  }
  .sign-title {
    font-size: $f-middle-sm;
  }
  .or-text,.sign-side-text {
    font-size: $f-small-sm;
  }
}
@media screen and(min-width: 768px) {
  .sign-btn,.sign-input {
    font-size: $f-basic-lg;
    transition: $ease;
  }
  .sign-title {
    font-size: $f-middle-lg;
  }
  .or-text,.sign-side-text {
    font-size: $f-small-lg;
  }
}
