//搜索框WRAP
.add-map-search-wrap {
  position: relative;
  @include flexy($ais: center);
  @include size(100%, 60px);
  flex-shrink: 0;
  border-bottom: 1px solid $border;
}
@media screen and(max-width: 767px) {
  .add-map-search-wrap {
    padding: 0 16px;
  }
  .add-map-search-input {
    font-size: 14px;
  }
}
@media screen and(min-width: 768px) {
  .add-map-search-wrap {
    justify-content: center;
    padding: 0 24px;
  }
  .add-map-search-input {
    font-size: 15px;
  }
}
//搜索框INPUT
.add-map-search-input {
  width: 100%;
  max-width: 500px;
  padding: 8px;
  margin-right: 16px;
  margin-left: 48px;
  color: $text;
  border: none;
  letter-spacing: 1px;
  &::placeholder {
    color: $placeholder;
  }
}
//搜索框圖
.add-map-search-icon {
  @include size(20px, 20px);
  background-image: url('../images/essential/search-icon.svg');
  cursor: pointer;
  flex-shrink: 0;
  border: none;
}

//返回紐
.back-icon.map {
  @include absolute($t: 50%,$l: 36px,$z: 1);
  @include size(20px,8px);
  transform: translateY(-50%);
  cursor: pointer;
  @include after {
    border-left: 2px solid $group1first;
    border-bottom: 2px solid $group1first;
    @include size(20px,7px);
    transform: skewX(-30deg);
  }
}
@media screen and(max-width: 767px) {
  .back-icon.map {
    left: 16px;
  }
}