//選擇地圖外層
.add-map-container {
  width: 100%;
  height: 100vh;
  background-color: $white;
  flex-grow: 1;
}

//選擇地圖內層
.add-map-inner {
  flex-grow: 1;
  @include flexy($dir: column,$ais: center);
}
@media screen and (min-width: 768px) {
  .add-map-container {
    @include absolute($t: 0,$l: 0px,$z: 101);
  }
}

// @media screen and (min-width: 960px) {
//   .add-map-container {
//     width: calc(100% - 200px);
//     height: 100vh;
//     @include absolute($t: 0,$l: 200px,$z: 10);
//   }
// }