.color-a {background-image: $bg-a;}
.color-a-dark {background-image: $bd-a-d;}
.color-b {background-image: $bg-b;}
.color-b-dark {background-image: $bd-b-d;}
.color-c {background-image: $bg-c;}
.color-c-dark {background-image: $bd-c-d;}


//左側導覽列WRAP
.left-nav-wrap {
  @include size(200px,100%);
  @include fixed($t: 0,$l: 0,$z: 102);
  margin-right: 24px;
  @include flexy($dir: column,$ais: center);
  font-weight: 300;
  &.lang-0 {font-family: 'Open Sans', sans-serif;}
  &.lang-1 {font-family: 'Noto Sans TC', sans-serif;}
}
@media screen and(min-width: 960px) {
  .left-nav-wrap {box-shadow: 10px 0 16px $shadow;} 
}
@media screen and(max-width: 959px) {
  .left-nav-wrap {
    left: -200px;
    transition: $ease;
    &.show {left: 0;}
  }
  .sm-layout {
    @include fixed($t: 0,$l: 100vw,$z: 99);
    @include size(100%,100%);
    &.show {left: 0;}
  }
}

.nav-list {
  @include flexy($dir: column);
  width: 100%;
  margin-bottom: auto;
}
.nav-item {position: relative;}

//A連結本體
.nav-link {
  color: $white;
  border-bottom: 1px solid $whiteBorder;
  position: relative;
  &.nav-link-0 {letter-spacing: 0.15rem;}
  &.nav-link-1 {letter-spacing: 0.2rem;}cursor: pointer;
  @include after {
    @include size(0,100%);
    @include absolute($t: 0,$l: 0,$z: 0);
    background-image: linear-gradient(90deg,rgba(255,255,255,0.3),rgba(255,255,255,0));
    transition: 0.3s ease-out;
  }
  &.itinerary-link {
    border: 1px solid none;
    cursor: pointer;
  }
  &.active {
    &:after {
      width: 100%;
    }
  }
}
//I展開三角
.nav-link-down {
  @include absolute($t: 50%,$r: 1.25rem);
  transform: translateY(-50%);
  color: $white;
  cursor: pointer;
}
//UL每日行程WRAP
.sub-nav-list {
  height: 0;
  transition: 0.2s ease-in;
  overflow: hidden;
  &.itinerary {
    max-height: 0;
    // overflow-y: scroll;
    &::-webkit-scrollbar
    {
      width:8px;
      height:16px;
    }
  }
  // &.budget,&.profile {overflow: hidden;}
}
.sub-nav-list.itinerary {
  &.color-a-dark {
    &::-webkit-scrollbar{background-color:$main-a;}
    &::-webkit-scrollbar-thumb{background-color:$main-a-d;}
  }
  &.color-b-dark {
    &::-webkit-scrollbar{background-color:$main-b;}
    &::-webkit-scrollbar-thumb{background-color:$main-b-d;}
  }
  &.color-c-dark {
    &::-webkit-scrollbar{background-color:$main-c;}
    &::-webkit-scrollbar-thumb{background-color:$main-c-d;}
  }
}
.sub-nav-link {
  letter-spacing: 0.15rem;
  color: #fff67a;
  position: relative;
  border-bottom: 1px solid rgba(255,255,255,0.2); 
  @include after {
    @include absolute($t: 50%);
    @include size($w: 0.375rem,$h: 0.375rem);
    transform: translateY(-50%);
    background-color: #ffe500;
    opacity:0;
  }
  &.active {&:after {opacity: 1;}}
}



//logo
.web-logo-simplify {
  @include size(60px,18px);
  transform: translateX(-5px);
  flex-shrink: 0;
  margin-top: 32px;
  margin-bottom: 10vh;
  background-image: url('../images/essential/main_logo.svg');
}

.language-btn {
  width: 100%;
  @include flexy($ais: center,$just: center);
  font-size: 14px;
  margin-bottom: 32px;
  .language-btn-item {
    position: relative;
    margin: 0 6px ;
    padding-bottom: 8px;
    cursor: pointer;
    color: $white;
    opacity: 0.8;
    transition: 0.2s ease-in;
    @include after {
      @include size(0,1px);
      @include absolute($b: 0,$l: 0);
      background-color: $white;
      transition: $ease;
    }
    &:hover {opacity: 1;&:after {width: 100%;}}
    &.active {opacity: 1;&:after {width: 100%;}}
  }
}


@media screen and (min-width: 768px) {
  .web-logo-simplify {
    @include size(60px,18px);
    margin-top: 32px;
    margin-bottom: 10vh;
  }
  .sub-nav-list {
    transition: 0.2s ease-in;
    &.budget.style { height: 110px;}
    &.profile.style { height: 165px;}
  }
  .nav-link {
    font-size: 15px;
    padding: 24px 16px 24px 16px;
    &:hover {&:after {width: 100%;}}
  }
  .nav-link-down {
    font-size: 15px;
    right: 16px;
  }
  .sub-nav-link  {
    font-size: 14px;
    padding: 20px 12px 20px 32px;
    &:after {
      left: 16px;
    }
  }
  .language-btn {
    font-size: 14px;
    margin-bottom: 74px;
  }
}

@media screen and (min-width: 960px) {
  .language-btn {
    margin-bottom: 32px;
  }
}
@media screen and (max-width: 767px) {
  .web-logo-simplify {
    @include size(54px,16px);
    margin-top: 20px;
    margin-bottom: 8vh;
  }
  .language-btn {
    font-size: 13px;
    margin-bottom: 60px;
  }
  .sub-nav-list {
    &.budget.style { height: 100px;}
    &.profile.style { height: 150px;}
  }
  .nav-link {
    font-size: 14px;
    padding: 20px 12px 20px 12px;
  }
  .nav-link-down {
    font-size: 14px;
    right: 12px;
  }
  .sub-nav-link  {
    font-size: 13px;
    padding: 18px 12px 18px 24px;
    &:after {
      left: 12px;
    }
  }
}










body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#root {flex: 1;}
.edit-page-wrap {height: 100%;}
.nav-wrap {height: 100%;}



@import './basic',
        './lg/lg',
        './sm/sm'