.basic-sub-content.calender {
  @include flexy($ais: center);
}

//單個項目WRAP
.country-intro-item { 
  flex-shrink: 0;
  @include flexy($dir: column,$ais: center);
  overflow: hidden;
  border: 1px solid $border;
  border-radius: 6px;
  background-color: $white;
  margin-bottom: 24px;
  
}

@media screen and (min-width: 960px) {
  .basic-sub-content.country {
    @include flexy($ais: center);
    flex-wrap: wrap;
  }
  .country-intro-item {
    width: 100%;
  }
}
@media screen and (max-width: 959px) {
  .basic-sub-content.country {
    @include flexy($dir: column);
  }
  .country-intro-item {
    width: 100%;
  }
}

//區塊總覽
.country-intro-block {
  width: 100%;
  &.top {
    border-bottom: 1px solid $border;
    padding: 16px 8px;
    @include flexy($dir: column,$ais: center);
  }
  &.bottom {
    @include flexy;
  }
}


//國旗
.country-intro-flag-wrap {
  @include size(90px,60px);
  border: 1px solid $border;
  margin-bottom: 0.75rem;
}
.country-intro-flag {
  @include size(100%,100%);
  background-size: 100%,100%; 
}
.country-intro-title {
  text-align: center;
  color: $side-text;
}

.country-intro-detail {
  color:$side-text;
  border-right: 1px solid $border;
  @include flexy($dir: column,$ais: center);
  &.rate { flex-shrink: 0};
}

.detail-top {width: 100%;color: $main;}
.detail-bottom {@include flexy($just: center);}
.basic-sm-icon {
  @include size(20px,20px);
  background-size: contain;
  &.capital {background-image: url('../images/essential/capital.svg');}
  &.voltage {background-image: url('../images/essential/voltage.svg');}
  &.language {background-image: url('../images/essential/language.svg');}
  &.exchange {background-image: url('../images/essential/exchange.svg');}
}
//小標題
.country-intro-title-sub {
  font-family: 'Open Sans', sans-serif;
  flex-shrink: 0;
}
//小標題值
.country-intro-value {
  &.rate {
    flex-shrink: 0;
    @include flexy($ais: center);
    .equal-span {padding: 0 8px;}
  }
}

@media screen and(max-width: 767px) {
  .country-intro-block.bottom {
    flex-wrap: wrap;
  }
  .country-intro-detail {
    width: 50%;
    flex-shrink: 0;
    padding: 16px 2px;
    &:nth-child(even) {border-right: none;}
    &:nth-child(2),&:nth-child(1) {border-bottom: 1px solid $border;}
  }
  .detail-top {
    @include flexy($just: center,$ais: center);
    padding-bottom: 8px;
  }
  .basic-sm-icon {margin-right: 6px;@include size(16px,16px);}
}

@media screen and (min-width: 768px) {
  .country-intro-detail {
    flex: 1;
    &:last-child {border-right: none;}
  }
  .detail-top {
    @include flexy($dir: column,$ais: center);
    padding: 16px 0 12px 0;
    position: relative;
    @include after {
      @include size(60%,1px);
      @include absolute($b: 0,$l: 20%);
      background-color: $main;
    }
  }
  .detail-bottom {padding: 12px 0 16px 0;}
  .basic-sm-icon {margin-bottom: 6px;@include size(20px,20px);}
}

//字體
@media screen and(min-width: 768px) {
  .country-intro-title {font-size: 18px;}
  .country-intro-value,.country-intro-title-sub {
    font-size: 15px;
  }
}
@media screen and(max-width: 767px) {
  .country-intro-title {font-size: 15px;}
  .country-intro-value {
    &.lang-0 {font-size: 13px;}
    &.lang-1 {font-size: 13px;}
  }
  .country-intro-title-sub {
    &.lang-0 {font-size: 13px;}
    &.lang-1 {font-size: 13px;}
  }
  .country-intro-value.rate{
    .equal-span {
      padding: 0 4px;
    }
  }
  .country-intro-flag-wrap  {
    margin-bottom: 6px;
  }
}