//日曆WRAP
.basic-calender-wrap {
  font-family: 'Open Sans', sans-serif;
  @include flexy($dir: column,$ais: center);
  border: 1px solid $l-main;
  border-radius: 4px;
  overflow: hidden;
  background-color: $white;
}
//日曆上部分
.basic-calender-top {  
  width: 100%;
  padding: 8px 0;
  background-color: $main;
}
//日曆上部分 - 年份
.basic-calender-top-text {
  font-size: 13px;
  font-weight: 300;
  text-align: center;
  color: $white;
}
//日曆下半部
.basic-calender-bottom {
  width: 100%;
  padding: 16px 20px;
  position: relative;
}
//日曆文字
.basic-calender-bottom-day {
  font-size: 18px;
  color: $main;
  padding-bottom: 8px;
}
.basic-calender-bottom-week {
  font-size: 13px;
  text-align: center;
  color: $main;
}

//日曆中介層
.calender-next {
  @include size(28px,14px);
  background-image: url('../images/essential/to.icon.svg');
  margin: 0 12px;
}
