.board-bottom.account {
  @include flexy($dir: column,$ais: center)
}
.account-bottom {
  @include flexy($dir: column);
  padding: 60px 16px;
  width: 100%;
  max-width: 660px;
}

.account-bottom-block {
  @include flexy($ais: center);
  margin-bottom: 32px;
  &:last-child {margin-bottom: 0;}
}
.account-label {
  flex-shrink: 0;
  color: $main;
}
.account-col-block {
  flex: 1;
  @include flexy($ais: center);
  position: relative;
}


//貨幣選單UL
.account-select-main {
  @include size(100%,40px);
  @include flexy($ais: center);
  padding: 0 12px;
  border: 1px solid $border;
  transition: $ease;
  &.currency {
    cursor: pointer;
  }
  &:focus,&.show {
    border: 1px solid $main;
  }
}
//貨幣選單項目
.acoount-currency-list {
  @include size(100%,0);
  @include absolute($t: 40px,$l: 0);
  border-right: 1px solid $main;
  border-left: 1px solid $main;
  background-color: $white;
  overflow: hidden;
  transition: $ease;
  cursor: pointer;
  &.show { height: 120px; }
  .account-currency-item {
    @include flexy($ais: center);
    padding-left: 12px;
    height: 40px;
    border-bottom: 1px solid $main;
    color: $main;
    cursor: pointer;
    &:hover {
      background-color: $main;
      color: $white;
    }
  }
}
//貨幣選單下拉符號
.currency_drop {
  @include absolute($t: 50%,$r: 12px);
  transform: translateY(-50%);
  color: $border;
}

//背景色塊WRAP
.account-background-group {
  width: 100%;
  @include flexy($ais: center,$just: center);
}
//背景色塊
.account-background-item {
  flex: 1;
  @include size(100%,60px);
  @include flexy;
  margin-right: 24px;
  cursor: pointer;
  &:last-child {margin-right: 0;}
  &:nth-child(1) {background-image: $bg-a;}
  &:nth-child(2) {background-image: $bg-b;}
  &:nth-child(3) {background-image: $bg-c;}
  &.select {
    border: 5px solid #ffc816;
  }
}

//選取圓圈
.language-input-radio {
  user-select: none;
  border: 1px solid $main;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  input {
    opacity: 0;
  }
  @include after {
    opacity: 0;
    @include size(60%,60%);
    @include absolute($t: 50%,$l: 50%);
    transform: translate(-50%,-50%);
    border-radius: 50%;
    border: none;
    transition: 0.1s ease-out;
    background-color: $main;
  }
  &.checked {
    border: 1px solid $main;
    &:after {
      opacity: 1;
    }
  }
}

//提交按鈕
.account-modify-btn {
  padding: 10px;
  width: 100%;
  border: 1px solid $main;
  color: $main;
  transition: $ease;
  cursor: pointer;
  &:hover {
    transform: translate(1px,1px);
  }
}
      

@media screen and(max-width: 767px) {
  .account-label,
  .account-select-main,
  .acoount-currency-list
  .account-language-name,
  .account-modify-btn {
    font-size: 13px;
  }
  .account-label {
    width: 100px;
  }
  .language-input-radio {
    @include size(16px,16px);
    margin-right: 12px;
  }
}
@media screen and(min-width: 768px) {
  .account-label,
  .account-select-main,
  .acoount-currency-list
  .account-language-name,
  .account-modify-btn {
    font-size: 15px;
  }
  .account-label {
    width: 120px;
  }
  .language-input-radio {
    @include size(20px,20px);
    margin-right: 16px;
  }
}