
@media screen and (min-width: 768px) {
  .list-bottom.project {
    padding: 32px 16px;
  }
}

@media screen and (max-width: 767px) {
  .list-bottom.project {
    padding: 32px 16px;
  }
}


.profile-project-block {
  width: 100%;
  @include flexy($ais: center);
  flex-wrap: wrap;
  &.prepare {
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid $border;
  }
}

//預算框
.profile-project-item {
  width: 100%;
  position: relative;
  @include flexy($ais: center,$just: center);
  margin-bottom: 16px;
  height: 140px;
  border-radius: 12px;
  background-position: 0 0;
  background-image: linear-gradient(120deg,$spot,$group1first,$group1second,);
  background-size: 200%,200%;
  color: $white;
  transition: 0.25s ease-out;
  overflow: hidden;
  cursor: pointer;
  &:hover {
    transform: translateY(2px);
    background-position: 50% 50%;
  }
  &.add {
    // border: 1px dashed $main;
    color: $main;
  }
}

@media screen and (min-width: 768px) {
  .profile-project-item {
    width: calc((100% - 32px) / 2 );
    margin: 0 8px;
    margin-bottom: 16px;
  }
}


.project-item-circle {
  @include size(14px,14px);
  position: relative;
  @include absolute($t: 0,$l: 0,$z: 100);
  background-color: yellow;
  border-radius: 50%;
  display: none;
  transition: 0.1s ease-out;
  &.show {
    display: block;
  }
}
