.main-cata {
  position: relative;
  width: 100%;
  background-color: $white;
  @include flexy($dir: column,$ais: center);
}
@media screen and(max-width: 959px) {
  .main-cata { height: calc(100vh - 42px); }
}
@media screen and(min-width: 960px) {
  .main-cata {
    max-width: 900px;
    margin: 8vh 3vw;
    border: 1px solid $border;
    border-radius: 20px;
    overflow: hidden;
  }
}














//主要類別WRAP
.edit-content-wrap {
  position: relative;
  width: 100%;
  background-color: $white;
  color: $group1first;
  @include flexy($dir: column,$ais: center);
}


//lg-行程表WRAP
@media screen and(min-width: 768px) {
  .edit-content-wrap.cata {
    max-width: 700px;
    border: 1px solid $border;
    border-radius: 24px;
    overflow: hidden;
    box-shadow: 0px 10px 15px $shadow;
    transition: 0.2s ease-out;
    margin: 150px 0;
    &:hover {
      box-shadow: 0px 20px 25px $shadow;
    }
  }
}
@media screen and(min-width: 1100px) {
  .edit-content-wrap.cata {
    max-width: 800px;
  }
}
@media screen and(min-width: 1200px) {
  .edit-content-wrap.cata {
    max-width: 900px;
  }
}