//上方WRAP
.add-act-top-wrap {
  position: relative;
  @include size(100%,48px);
  @include flexy($ais: center,$just: center);
  background-color: $group1first;
}

//返回紐
.back-icon {
  cursor: pointer;
  @include absolute($t: 20px,$l: 20px,$z: 1);
  @include size(20px,20px);
  @include after {
    border-left: 2px solid $white;
    border-bottom: 2px solid $white;
    @include size(20px,7px);
    transform: skewX(-30deg);
  }
}
//關閉扭
.add-act-close-btn {
  @include absolute($t: 50%,$r: 20px,$z: 1);
  transform: translateY(-50%);
  @include size(16px,16px);
  background-image: url('../images/essential/remove_white_icon.svg');
  cursor: pointer;
}
//lg-返回紐
@media screen and(min-width: 768px) {
  .back-icon {
    &:after {
      transition: 0.1s ease-out;
    }
    &:hover {
      @include after {
        transform: translateX(3px) skewX(-30deg);
        width: 15px;
      }
    }
  }
}
//標題
.add-act-title {color: $white;}

@media screen and(max-width: 767px) {
  .add-act-title {font-size: 14px;}
}
@media screen and(min-width: 768px) {
  .add-act-title {font-size: 15px;}
}

//下方WRAP
.add-act-bottom-wrap {
  width: 100%;
  @include flexy($ais: center,$just: center); 
}

@media screen and (max-width: 767px) {
  .add-act-bottom-wrap {
    @include fixed($t: 50%,$l: 50%);
    transform: translate(-50%,calc(-50% - 24px));
  }
}


//單個按鈕WRAP
.add-act-icon-wrap {
  @include flexy($dir: column,$ais: center);
}
@media screen and(max-width: 767px) {
  .add-act-bottom-wrap {
    flex-wrap: wrap;
    max-width: 300px;
  }
  .add-act-icon-wrap {
    width: 50%;
    padding: 16px 0;
  }
}
@media screen and(min-width: 768px) {
  .add-act-bottom-wrap {
    height: 220px;
  }
  .add-act-icon-wrap {
    margin-right: 16px;
    margin-left: 16px;
    transition: 0.2s ease-out;
    color: $side-text;
    &:hover {
      transform: translateY(4px);
    }
  }
}

//ICON
.add-act-icon {
  position: relative;
  @include after {
    @include size(70%,70%);
    @include absolute($t: 50%,$l: 50%);
    transform: translate(-50%,-50%); 
  }
}
//sm-ICON
@media screen and(max-width: 575px) {
  .add-act-icon {
    @include size(72px,72px);
    margin-bottom: 10px;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.15);
  }
}
//lg-ICON
@media screen and(min-width: 576px) {
  .add-act-icon {
    @include size(80px,80px);
    margin-bottom: 12px;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.15);
  }
}