.add-list-btn {
  @include center;
  @include size(60px,60px);
  border-radius: 50%;
  background-image: $cold;
  box-shadow: 0 5px 5px $shadow;
  cursor: pointer;
  z-index: 99;
}
.add-list-btn-icon {
  @include size(40%,40%);
  background-size: cover;
  background-position: center center;
  background-image: url('../images/essential/plus_white.svg');
}

@media screen and (min-width: 768px) {
  .add-list-btn{
    @include absolute($r: 8px,$b: -90px);
    transition: 0.15s ease-in;
    &:hover {
      transform: translateY(5px);
    }
  }
}

@media screen and (max-width: 767px) {
  .add-list-btn {
    @include size(48px,48px);
    @include fixed($r: 48px,$b: 80px);
  }
}

@media screen and (max-width: 576px) {
  .add-list-btn {
    @include fixed($r: 16px,$b: 60px);
  }
}

