//form表單面板
.form-inner-wrap {
  @include absolute($t: 0,$l: 0);
  width: 100%;
  height: 100vh;
}


//lg-面板
@media screen and(min-width: 960px) {
  .form-inner-wrap {
    @include flexy($ais: center,$just: center);
    width: calc(100% - 200px);
    @include fixed($t: 0,$l: 50%);
    transform: translateX(calc(-50% + 100px));
  }
}

