//TopBar + 選填資料WRAP
.select-info-inner {
  position: relative;
  width: 100%;
  @include flexy($dir: column);
  background-color: $white;
  box-shadow: 0 15px 15px rgba(0,0,0,0.1);
}
//返回WRAP
.selec-back-bar {
  position: relative;
  @include flexy($ais: center);
  background-color: $border;
  .select-back-icon-wrap {
    @include flexy($ais: center,$just: center);
    cursor: pointer;
  }
  .select-back-icon {
    @include size(100%,50%);
    background-image: url('../images/essential/back.icon.svg');
    transition: $ease;
    &:hover {transform: translate(1px,1px);}
  }
}
//選填資料WRAP
.select-info-panel {
  width: 100%;@include flexy($dir: column);}
.select-info-block {
  @include flexy($dir: column);
  &:last-child {margin-bottom: 0;}
}
//input LABEL
.select-info-title {
  margin-bottom: 0.5rem;
  letter-spacing: 2px;
  font-weight: 400;
  color: $main;
}
//INPUT 輸入框
.select-info-value {
  @include flexy($ais: center);
  border: 1px solid $border;
  transition: $ease;
  &::placeholder {color: $border;}
  &:focus {border: 1px solid $main;}
  &.style {border: 1px solid $main;}
}
//提交按鈕
.select-info-submit-btn {
  letter-spacing: 2px;
  padding: 1rem;
  background-image: linear-gradient(120deg,$group1first,$group1second);
  color: $white;
  text-align: center;
  cursor: pointer;
  transition: $ease;
  &:hover {transform: translate(2px,2px);}
}


@media screen and (min-width: 768px) {
  .select-info-panel {padding: 36px 24px;}
  .select-info-block {margin-bottom: 24px;}
  .select-info-title {
    &.lang-0 { font-size: 14px; }
    &.lang-1 { font-size: 13px; }
  }
  .select-info-value {
    &.lang-0 { font-size: 16px; }
    &.lang-1 { font-size: 15px; }
    height: 50px;
    padding-left: 12px;
  }
  .select-info-submit-btn {
    &.lang-0 { font-size: 15px; }
    &.lang-1 { font-size: 15px; }
  }
  .select-back-icon-wrap {
    @include size(32px,32px);
    margin-left: 24px;
  }
}
@media screen and (max-width: 767px) {
  .select-info-panel {padding: 32px 16px;
  }
  .select-info-block {margin-bottom: 16px;}
  .select-info-title {
    &.lang-0 { font-size: 13px; }
    &.lang-1 { font-size: 12px; }
  }
  .select-info-value {
    &.lang-0 { font-size: 15px; }
    &.lang-1 { font-size: 14px; }
    height: 50px;
    padding-left: 12px;
  }
  .select-info-submit-btn {
    &.lang-0 { font-size: 14px; }
    &.lang-1 { font-size: 13px; }
  }
  .select-back-icon-wrap {
    @include size(24px,24px);
    margin-left: 16px;
  }
}


//修改國家的topbar
.select-close-bar {
  position: relative;
  @include flexy($ais: center,$just: flex-end);
  padding: 8px 12px;
  .select-close-icon-wrap {
    @include flexy($ais: center,$just: center);
    cursor: pointer;
    @include size(16px,16px);
  }
  .select-close-icon {
    @include size(100%,100%);
    background-image: url('../images/essential/remove_white_icon.svg');
  }
}
